.full-screen-map {
	width: 100%;
	height: 100vh;
	cursor: crosshair;
}

.marker-icon {
	background-color: red;
	border-radius: 50%;
	width: 15px;
	height: 15px;
}

.marker-icon.highlighted {
	animation: pulsate 1s infinite;
	background-color: yellow;
	border: 2px solid red;
}

.marker-icon:hover {
	animation: pulsate 1s infinite;
}

@keyframes pulsate {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.5);
	}
	100% {
		transform: scale(1);
	}
}
