.full-screen-map {
	width: 100%;
	height: 100vh;
	cursor: crosshair;
}

.leaflet-left {
	right: 10px;
	left: unset;
}

.marker-icon {
	background-color: red;
	border-radius: 50%;
	width: 10px;
	height: 10px;
	border: 2px solid transparent;
}

.marker-icon.my-location {
	background-color: transparent;
	width: 0;
	height: 0;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-top: 20px solid green;
	border-radius: 0;
}

.marker-icon.highlighted {
	animation: pulsate 1s infinite;
	background-color: yellow;
	border: 2px solid red;
}
.marker-icon.my-location.highlighted {
	background-color: transparent;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-bottom: 0;
	border-top: 20px solid limegreen;
	transform: translateY(-10px);
	border-radius: 0;
}

.marker-icon:hover {
	animation: pulsate 1s infinite;
}

@keyframes pulsate {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.5);
	}
	100% {
		transform: scale(1);
	}
}

.map-container {
	position: relative;
}

.zoom-controls {
	position: absolute;
	top: 10px;
	right: 10px;
	display: flex;
	flex-direction: column;
	z-index: 1000;
}

.zoom-controls button {
	background-color: #555;
	color: #fff;
	border: none;
	padding: 5px 10px;
	border-radius: 4px;
	cursor: pointer;
	margin-bottom: 5px;
}

.zoom-controls button:hover {
	background-color: #777;
}

.dark-mode-switch {
	position: absolute;
	bottom: 15px;
	right: 15px;
	z-index: 1000;
}

.dark-mode-switch button {
	background-color: #555;
	color: #fff;
	border: none;
	padding: 5px 10px;
	border-radius: 4px;
	cursor: pointer;
}

.dark-mode-switch button:hover {
	background-color: #777;
}

.zoom-level-display {
	position: absolute;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
	background-color: rgba(0, 0, 0, 0.5);
	color: #fff;
	padding: 5px 10px;
	border-radius: 4px;
	z-index: 1000;
}

.cursor-coordinates {
	position: absolute;
	top: 10px;
	left: 50%;
	transform: translateX(-50%);
	background-color: rgba(0, 0, 0, 0.5);
	color: #fff;
	padding: 2px 5px;
	border-radius: 4px;
	font-size: 0.8em;
	z-index: 1000;
}

.location-search {
	position: absolute;
	bottom: 15px;
	left: 15px;
	z-index: 1000;
	display: flex;
}

.location-search input {
	padding: 5px;
	border-radius: 4px;
	border: 1px solid #ccc;
}

.location-search button {
	background-color: #555;
	color: #fff;
	border: none;
	padding: 5px 10px;
	border-radius: 4px;
	cursor: pointer;
	margin-left: 5px;
}

.location-search button:hover {
	background-color: #777;
}
