.full-screen-map {
	width: 100%;
	height: 100vh;
	cursor: crosshair;
}

.leaflet-left {
	right: 10px;
	left: unset;
}

.map-container {
	position: relative;
}

.zoom-controls {
	position: absolute;
	top: 10px;
	right: 10px;
	display: flex;
	flex-direction: column;
	z-index: 1000;
}

.zoom-controls button {
	background-color: #555;
	color: #fff;
	border: none;
	padding: 5px 10px;
	border-radius: 4px;
	cursor: pointer;
	margin-bottom: 5px;
}

.zoom-controls button:hover {
	background-color: #777;
}

.dark-mode-switch {
	position: absolute;
	bottom: 15px;
	right: 15px;
	z-index: 1000;
}

.dark-mode-switch button {
	background-color: #555;
	color: #fff;
	border: none;
	padding: 5px 10px;
	border-radius: 4px;
	cursor: pointer;
}

.dark-mode-switch button:hover {
	background-color: #777;
}

.zoom-level-display {
	position: absolute;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
	background-color: rgba(0, 0, 0, 0.5);
	color: #fff;
	padding: 5px 10px;
	border-radius: 4px;
	z-index: 1000;
}

.cursor-coordinates {
	position: absolute;
	top: 10px;
	left: 50%;
	transform: translateX(-50%);
	background-color: rgba(0, 0, 0, 0.5);
	color: #fff;
	padding: 2px 5px;
	border-radius: 4px;
	font-size: 0.8em;
	z-index: 1000;
}
